[is='text-image'] {
  margin-top: 20px;
  font-size: 180px;
  color: transparent;
  -webkit-background-clip: text;
  background-size: contain;
  background-clip: text;

  @media (max-width: 600px) {
    font-size: 45px;
  }
}
