// Variables
$mainfont: 'Raleway', sans-serif;
$bglight: #33a2f8;
$bgdark: #222;
$itemcolor: #000;
$itemhover: #fff;
$menufontsize: 25px;
$menulineheight: $menufontsize;
$menuheight: $menulineheight * 5; // $menulineheight * number of <li> elements
$menuleft: 5px;
$menutexttransform: lowercase;
