/* You can add global styles to this file, and also import other style files */

@import './styles/core';
@import './styles/layout';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h2,
h3 {
  color: grey;
  &:first-child {
    margin-top: 0;
  }
}

body > main {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
}

nav.center {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-section {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

footer {
  padding-top: 120px;
  padding-bottom: 120px;

  h3 {
    height: 140px;
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
  }

  h2,
  h3 {
    margin: 3rem;
  }
}

.max-width {
  max-width: 1000px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}

.underlined {
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, black 0, black 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s, color 0.5s;

  color: black;

  svg path {
    fill: black;
    transition: fill 0.5s;
  }
  &:hover {
    color: white;
    svg path {
      fill: white;
    }
    background-size: 100% 100%;
  }

  // Example:
  // <a href="#" class="underlined underlined--thin"> I'm a very long text </a>
  &--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
  }

  // Example:
  // <a href="#" class="underlined underlined--thick">I'm an other very long highlighted link.</a>
  &--thick {
    background-position: 0 -0.1em;
  }

  // Example:
  // <a href="#" class="underlined underlined--offset">I'm an other very long link and I'm an artist you know.</a>
  &--offset {
    background-position: 0 0.2em;
    //didn't find another solution than mask the underline shape by a box shadow with the same color than the bg
    box-shadow: inset 0 -0.5em 0 0 white;
  }

  // Example:
  // <a href="#" class="underlined underlined--gradient">PICKLE RIIIICK</a>
  &--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, black 0, lightgreen 100%);
  }

  // Example:
  // <a href="#" class="underlined underlined--reverse">I'm an other long link and I don't like lorem.</a>
  &--reverse {
    background-position: 100% -0.1em;
    transition: background 1s; //yep, that's a long link
    background-image: linear-gradient(to right, black 0, black 100%);
  }
}

@media screen and (max-width: 768px) {
  footer h2,
  footer h3 {
    margin: 0;
  }
  .underlined {
    font-size: 1.2em;
  }
}
