body > *:first-child main {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0px auto;
}
body {
  filter: invert(0);
  transition: filter 400ms ease-out;
  &.invert {
    filter: invert(1);
  }
}
