/* You can add global styles to this file, and also import other style files */
@import './styles/vars';
@import './styles/button';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  margin: 0px auto;
  flex: 1;
  font-family: 'Raleway', sans-serif;
}

web-recorder {
  margin: 0;
  padding: 20px;
  background: url('assets/stranger.jpeg') center / cover no-repeat;
  height: 100%;
  display: flex;
  padding: 32px;
  border-radius: 12px;
  flex-direction: column;
}

section {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section video {
  position: absolute;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
